<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登录</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="json.js"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        var app = angular.module('app', []);
        app.controller('DebtController', function ($rootScope, $scope, $http) {
            $scope.message = '';
            $scope.account = '';
            $scope.password = '';
            //登录
            $scope.login = function () {
                $scope.message = '';
                $http(
                    {
                        url: '/loginPost',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data: 'account=' + $scope.account + '&password='
                            + $scope.password
                    }).success(function (r) {
                        if (!r.success) {
                            $scope.message = r.message;
                            return;
                        }
                        window.location.href = '/';
                    });
            }
        });
	/*]]>*/
    </script>
    <style>
    body{
    background-image: url('images/2.jpg');
    }
        #a{
            width: 500px;
            height: 400px;
           
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
        }
    </style>
</head>

<body ng-app="app" ng-controller="DebtController" >
    <div id='a'>
        <div align='center'>
            <h1>深创联抢案系统</h1>
        </div >
        <div align='center'>
            <table cellspacing="1" >
                <tr>
                    <td>账号：</td>
                    <td><input placeholder='用户' ng-model="account" /></td>
                </tr>
                <br/>
                <tr>
                   <td>密码：</td>
                    <td><input type="password" placeholder='密码' ng-model="password" /></td>
                </tr>
            </table>
            <br/>
            <input type="button" value="登录" ng-click="login()" />
            <br />
            <font color="red" ng-show="message">{{message}}</font>
            <br />
        </div>
    </div>
</body>

</html>