<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<title>生成代码</title>
	<link rel="stylesheet" type="text/css" href="easyui.css" />
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.easyui.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#btn").click(function () {
				$("#choiceWindow").slideDown(300);
			});

			$("#x").click(function () {
				$("#choiceWindow").slideUp(300);

			});



		});

		function testConnection() {

			var formSerial = {};
			$($("#sqlForm").serializeArray()).each(function () {
				formSerial[this.name] = this.value;
			});

			var fromValue = JSON.stringify(formSerial);
			$.ajax({
				url: "/testSqlConnect",
				type: "post",
				data: fromValue,
				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (res) {
					if (res.code == "200") {
						alert("连接数据库成功");
					} else {
						alert("连接数据库失败");
					}
				},

			}


			)
		};

		function cancel() {
			$("#choiceWindow").slideUp(300);
		};

		function makesure() {
			var formSerial = {};
			$($("#sqlForm").serializeArray()).each(function () {
				formSerial[this.name] = this.value;
			});

			var fromValue = JSON.stringify(formSerial);
			$.ajax({
				url: "/makesure",
				type: "post",
				data: fromValue,
				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (res) {
					if (res.code == "200") {
						alert("连接数据库成功");
					} else {
						alert("连接数据库失败");
					}
				},

			}


			)
		};
	</script>
	<style>
		body {
			background-image: url('images/2.jpg');
		}

		#right-body {
			width: 500px;
			height: 400px;
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			margin: auto;
		}


		#choiceWindow {
			display: none;
			position: absolute;
			top: 25%;
			left: 25%;
			width: 30%;
			height: 55%;
			padding: 20px;
			border: 3px solid #ccc;
			background-color: white;
			z-index: 2;
			overflow: auto;
		}


		#x:hover {
			cursor: pointer;
			color: rgb(55, 198, 192);
		}
	</style>

</head>

<body>
	<div>

		<div id='right-body'>

			<div align="center">
				<form method="POST" enctype="multipart/form-data" action="/">


					<div align="center">
						应用名称：<input type="text" id="check" name="AppName" required="true"
							style="width: 80px;border-color: #95b8e7; border-width: 1px; border-style: solid" />
					</div>
					<br />
					<div align="center">
						基础包名: <input type="text" name="basepackage" required="true"
							style="width: 150px;border-color: #95b8e7; border-width: 1px; border-style: solid" />

					</div>
					<br />


					<div align="center">
						表名称: <select id="ddlLine" name="tableName" style="width: 205px; height: 24px; ">
						</select>
					</div>
					<br />

					<div align="center">
						文件命名: <select id="ddlLine" name="writeName" style="width: 205px; height: 24px; ">
						</select>
					</div>
					<br />


					<br />
					<div align="center">
						代码保存路径 ：<input type="file" name="writepath" />
					</div>



					<div align="center">
						<input type="submit" value="上传" name="上传" />
					</div>
				</form>

			</div>

		</div>

		<div id='header'>
			<button id="btn">数据库连接</button>
			<div id="choiceWindow">
				<label id="x" style="position: absolute;top:2px;left: 95%;font-size: 25px;">x</label>
				<form id="sqlForm" method="post" action="/testSqlConnect">

					<div align="center">
						命名：<input type="text" id="check" name="calledName" required="true"
							style="width: 80px;border-color: #95b8e7; border-width: 1px; border-style: solid" />
					</div>
					<br />

					<div align="center">
						数据库类型：<select name="driverClassName">
							<option value="oracle.jdbc.driver.OracleDriver">oracle数据库</option>
							<option value="com.mysql.jdbc.Driver">mysql数据库</option>
							<option value="com.microsoft.sqlserver.jdbc.SQLServerDriver">sqlserver数据库</option>
						</select>
					</div>


					<div align="center">
						IP地址: <input type="text" name="host" required="true"
							style="width: 150px;border-color: #95b8e7; border-width: 1px; border-style: solid" />

					</div>
					<br />

					<div align="center">
						端口号: <input name="port" style="width: 205px; height: 24px; " />

					</div>

					<div align="center">
						用户名: <input type="text" name="username" style="width: 205px; height: 24px; " />

					</div>


					<div align="center">
						密码: <input type="password" name="password" style="width: 205px; height: 24px; " />

					</div>

					<div align="center">
						数据库: <input name="dbName" style="width: 205px; height: 24px; " />

					</div>


					<div id="button-group">

						<input type="button" value="测试连接" onclick="testConnection()" />
						<input type="button" value="取消" onclick="cancel()" />
						<input type="button" value="确定" onclick="makesure()" />
					</div>




				</form>
			</div>

		</div>

	</div>

</body>

</html>